<div class="container">
    <div class="row">
        <div class="col-2"><button mat-button routerLink="/appointments" style="color:rgb(53, 53, 53);">Appointments</button></div>
        <div class="col-2"><button mat-button routerLink="/clinics" style="color:rgb(53, 53, 53);">Clinics</button></div>
        <div class="col-2"><button mat-button routerLink="/prices" style="color:rgb(53, 53, 53);">Prices</button></div>
        <div class="col-2"><button mat-button routerLink="/aboutus" style="color:rgb(53, 53, 53);">About Us</button></div>
        <div class="col-2"><button mat-button routerLink="/connection" style="color:rgb(53, 53, 53);">Connection</button></div>
    </div>
</div>
