<div class="content">
  @for (user of users; track user.id) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> {{user.username}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <div class="card-text-id">Id: {{user.id}}</div>
        <div class="card-text-email">Email: {{user.email}}</div>
        <div class="card-text-role">Role: {{user.role}}</div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="deleteUser(user.id)" style="color:rgb(255, 0, 0);">Delete</button>
    </mat-card-actions>
  </mat-card>
}
</div>