mat-card {
    padding-left:80px;
    width:60%;
}

.card-content {
    display:flex;
    padding-top:10px;
    gap: 20px;
}

.card-text-id {
    width:170px;
}
.card-text-email {
    width:300px;
}
.card-text-role {
    width:150px;;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; 
}