.content {
    padding: 60px 20px;
    height: 600px;

    position: relative;
    z-index: 2;
}

.faded-background {
    position: relative;
    background-image: url('/assets/images/hospital.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
  }

  .faded-background::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* 0.5 = 50% black overlay */
    z-index: 1;
  }

  mat-card {
    width: 90%;
    height:90%;
    background-color: rgb(228, 228, 228);
  }

  .card-content {
    margin-top:2%;
  }