main {
    background-image: url('/assets/images/hospital.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 20px;
    color: white; /* or use dark overlay for readability */
    height: 600px;
  }